@model string

<ion-nav-title>
    <div class="full-width-center-align">
        <b class="royal">
            @Model
        </b>
    </div>
</ion-nav-title>

<ion-nav-buttons side="right">
    <avatar imagesize="30" roundimage="true" ui-sref="app.profile"></avatar>
</ion-nav-buttons>