<?xml version="1.0"?>
<appSettings>
  <add key="as:TokenEndPoint" value="/oauth/token"/>
  <add key="as:AudienceId" value="414e1927a3884f68abc79f7283837fd1"/>
  <add key="as:AudienceSecret" value="qMCdFDQuF23RV1Y-1Gq9L3cF3VmuFwVbam4fMTdAfpo"/>
  <add key="as:issuer" value="http://localhost:58349"/>
  <add key="owin:AutomaticAppStartup" value="true"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />  
  <add key="gmail:Host" value="smtp.gmail.com" />
  <add key="gmail:Port" value="587" />
  <add key="gmail:DisplayName" value="School App" />
  <add key="gmail:CredentialUserName" value="logosieunhanh@gmail.com" />
  <add key="gmail:CredentialPasswordHash" value="EAAAADB5jBgwSCbUAVYckkM5cKCkHW73wN7FfQud3mAUDcC9" />
  <add key="gmail:SecurityStamp" value="2450508039" />
  <add key="gmail:EnableSsl" value="true" />
  <add key="googlerecaptcha:Uri" value="https://www.google.com/recaptcha/api/siteverify?secret={0}&amp;response={1}" />
  <add key="googlerecaptcha:SecretKey" value="6LfvEhEUAAAAANXHH_gVYHjDEHgdtXo2D_o654EL" />
  <add key="googlerecaptcha:PublicKey" value="6LfvEhEUAAAAAA1aS5yVVw8C47OS6zjbHq9bQ1ft" />
  <add key="ClientRoleGroups:Id" value="01D9E630-4615-48A9-B764-CB08326F73E7"/>
  <add key="registerEmailTemplate:Id" value="C4ED8296-CF92-4CC5-903B-2E6150452A5A"/>
  <add key="forgotPasswordEmailTemplate:Id" value="ED9F4E5C-581C-483E-9A78-34E0C510A358"/>
</appSettings>