<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="SCDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SC_DEV1;User ID=pintshirt;Password=taowenrui1; MultipleActiveResultSets=True;" />-->
  <!--<add name="pintshir_Webstore" connectionString="Data Source=THANG-PC\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=pintshir_Webstore;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
  <add name="pintshir_Webstore" connectionString="Data Source=103.27.60.66;Initial Catalog=pintshir_Webstore;User ID=pintshirt;Password=taowenrui1;" providerName="System.Data.SqlClient" />
  <!--<add name="SCDbContext" connectionString="Data Source=112.78.2.50; Initial Catalog=nambbb07_nnd; Persist Security Info=True; User Id=nambbb07_nddadmin;Password=Kayg125@x; MultipleActiveResultSets=True; App=EntityFramework" providerName="System.Data.SqlClient"/>-->
</connectionStrings>
