<ion-view>
    @Html.Partial("~/Views/Common/ApplicationHeader.cshtml", "Đổi mật khẩu")
    @Html.Partial("~/Views/Common/BackButton.cshtml")

    <ion-content>
        <div class="standard-padding">
            <loadingicon ng-show="model.isChangingPassword"></loadingicon>

            <div ng-hide="model.isChangingPassword">
                <div class="list">
                    <div class="item item-divider dark-bg light">
                        Mật khẩu cũ
                    </div>

                    <label class="item item-input">
                        <input ng-model="model.oldPassword" getfocus="model.focusOldPassword" type="password" placeholder="Nhập mật khẩu cũ">
                    </label>

                    <div class="item item-divider energized-bg">
                        Mật khẩu mới
                    </div>

                    <label class="item item-input">
                        <input ng-model="model.newPassword" getfocus="model.focusNewPassword" type="password" placeholder="Nhập mật khẩu mới">
                    </label>

                    <label class="item item-input">
                        <input ng-model="model.retypedNewPassword" getfocus="model.focusRetypedNewPassword" type="password" placeholder="Nhập lại mật khẩu mới">
                    </label>
                </div>

                <button class="button button-block button-positive" ng-click="changePassword()">
                    Đổi mật khẩu
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>