<ion-view>
    @Html.Partial("~/Views/Common/ApplicationHeader.cshtml", "Cập nhật ứng dụng")

    <ion-content>
        <div class="standard-padding">
            <div class="login-header">
                <h1 class="energized">
                    Tải file cập nhật
                </h1>

                <round-progress max="100" current="global.downloadProgress" color="lime" bgcolor="lavender" radius="100" stroke="20" rounded="true"
                                duration="2000" animation="easeInOutQuart" animation-delay="0"></round-progress>
            </div>
        </div>
    </ion-content>
</ion-view>